*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

:root {
  --bg-main: #f4f7f6;
  --bg-card: #ffffff;
  --text-primary: #2c3e50;
  --text-secondary: #7f8c8d;
  /* --color-primary: #560643; */
  --color-primary: #061156;
  --color-primary-hover: #75085a;
  --border-color: #ddd;
  color-scheme: light;
}

[data-theme="dark"] {
  --bg-main: #121212;
  --bg-card: #1e1e1e;
  --text-primary: #e0e0e0;
  --text-secondary: #aaaaaa;
  --color-primary: #a71f87;
  --color-primary-hover: #bb1f97;
  --border-color: #333333;
  color-scheme: dark;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
}

.mobile-fallback {
  display: none;
}

@media (max-width: 1250px) {
  .mobile-fallback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-main);
    color: var(--text-primary);
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .mobile-fallback h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .mobile-fallback p {
    color: var(--text-secondary);
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .mobile-fallback-icon > svg{
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
  }

  .app-content {
    display: none !important;
  }
}